.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgba(196, 196, 196, 0.336);
  background-color: rgba(255, 255, 255, 0.959);
  box-shadow: 0 2px 7px 2px rgba(0,0,0,0.05), 0 9px 20px 2px rgba(0,0,0,0.07), 0 17px 33px 7px rgba(0,0,0,0.07);
  border-radius: 5px;
  top: 90px;
  right: 60px;
  z-index: 5;
  
  .empty-message {
    font-size: 1.1rem;
    margin: 2.5rem auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
    
  }
}
